@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  margin: 0;
}
.ork {
  position: fixed;
  z-index: 22;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.video {
  width: 100%;
  height: 100%;
}
.exit {
  height: 10px;
  width: 10px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.robotoFont {
  font-family: 'Roboto', sans-serif;
}
.fixed {
  position: fixed;
  z-index: 2;
}
.video-container {
  max-width: 88%;
  position: absolute;
  top: 150px;
  right: 0px;
  z-index: 1
  ;
}
.sidebar {
  background-color: #212121;
}
.topbar {
  background-color: #212121;
  max-height: 50px;
  width: 2000;
  display: block;
}
.justifycontent {
  justify-content: space-between;
  width: 100%;
  background-color: #212121;
  min-height: 160px;
  align-items: start;

}